<template>
  <v-row justify="center" align="center">
    <v-card color="accent">
      <data-table
        :id="'tramDataIncome'"
        :title="workstation"
        :dom-id="'tramDataIncome'"
        :cabeceras="tableHeaders"
        :elementos="tableItems"
        :format="tableFormat"
        :server-items="ItemsCount"
        :trans="trandata"
        :agrupador="agrupador"
        :seleccionado.sync="seleccionados"
        route="Tramites/table"
      />
    </v-card>
  </v-row>
</template>

<script>
import DataTable from '~/components/Datatable/DataTable'
export default {
  components: {
    DataTable
  },
  data: () => ({
    workstation: 'Cargando...',
    trandata: [],
    agrupador: false,
    seleccionados: [],
    tableHeaders: [
      { text: 'Seguimiento', align: 'start', value: 'Seguimiento', sortable: true },
      { text: 'Nombre del Solicitante', align: 'start', value: 'beneficiario', sortable: true },
      { text: 'Sexo', align: 'start', value: 'sexo', sortable: true },
      { text: 'Edad', align: 'start', value: 'edadBen', sortable: true },
      { text: 'Calle y Número', align: 'start', value: 'calleNum', sortable: true },
      { text: 'Colonia', align: 'start', value: 'colonia', sortable: true },
      { text: 'Documentos Digitalizados', align: 'start', value: 'documentacion', sortable: true },
      { text: 'Georeferencia', align: 'start', value: 'georeferencia', sortable: true },
      { text: 'Fotografía del Beneficiario', align: 'start', value: 'imagen', sortable: true },
      { text: 'Proveedor del Material', align: 'start', value: 'proveedor', sortable: true },
      { text: 'Material', align: 'start', value: 'material', sortable: true },
      { text: 'Cantidad de Material', align: 'start', value: 'materialCant', sortable: true },
      { text: 'Total a Pagar', align: 'start', value: 'materialTotal:material*materialCant', sortable: true },
      { text: 'Check', align: 'start', value: 'check', sortable: true },
      { text: 'Decimal', align: 'start', value: 'decimal', sortable: true },
      { text: 'Money', align: 'start', value: 'money', sortable: true },
      { text: 'Creado', align: 'start', value: 'Creado', sortable: true },
      { text: 'Creó', align: 'start', value: 'Usuario', sortable: true }],
    tableItems: [
      {
        Uuid: '6508a352-f721-4f36-a74f-9c8ec3bb7a9f',
        Seguimiento: 'IMV210322-39-00001',
        Creado: '2021-03-22 19:49:58',
        beneficiario: 'Juan Perez',
        sexo: 'Masculino',
        edadBen: '21',
        calleNum: '3',
        colonia: 'Real',
        documentacion: 'Documento_60594946eff43.pdf',
        georeferencia: '{"0":"24.025117855187","1":"-104.67668294907"}',
        imagen: 'Imagen_6059494706915.jpg',
        proveedor: 'Rotoplas',
        material: '$1,990.00 Cisterna 1200L',
        materialCant: '4',
        'Total a Pagar': null,
        'materialTotal:material*materialCant': 7960,
        check: '1',
        decimal: '1.4',
        money: '432',
        Usuario: 'MELÉNDEZ SAUCEDO JESÚS ALEXANDER '
      }
    ],
    tableFormat: [{ nameSlot: 'item.Uuid', nameCell: 'Uuid', typeComponent: '' },
      { nameSlot: 'item.Seguimiento', nameCell: 'Seguimiento', typeComponent: '' },
      { nameSlot: 'item.beneficiario', nameCell: 'beneficiario', typeComponent: 'TextAlfa' },
      { nameSlot: 'item.sexo', nameCell: 'sexo', typeComponent: 'Combo' },
      { nameSlot: 'item.edadBen', nameCell: 'edadBen', typeComponent: 'Integer' },
      { nameSlot: 'item.calleNum', nameCell: 'calleNum', typeComponent: 'TextInput' },
      { nameSlot: 'item.colonia', nameCell: 'colonia', typeComponent: 'TextAlfanum' },
      { nameSlot: 'item.documentacion', nameCell: 'documentacion', typeComponent: 'File' },
      { nameSlot: 'item.georeferencia', nameCell: 'georeferencia', typeComponent: 'Georeferencia' },
      { nameSlot: 'item.imagen', nameCell: 'imagen', typeComponent: 'CameraInput' },
      { nameSlot: 'item.proveedor', nameCell: 'proveedor', typeComponent: 'Combo' },
      { nameSlot: 'item.material', nameCell: 'material', typeComponent: 'Combo' },
      { nameSlot: 'item.materialCant', nameCell: 'materialCant', typeComponent: 'Integer' },
      { nameSlot: 'item.materialTotal:material*materialCant', nameCell: 'materialTotal:material*materialCant', typeComponent: 'MathColumn' },
      { nameSlot: 'item.check', nameCell: 'check', typeComponent: 'Checkbox' },
      { nameSlot: 'item.decimal', nameCell: 'decimal', typeComponent: 'Decimal' },
      { nameSlot: 'item.money', nameCell: 'money', typeComponent: 'Money' },
      { nameSlot: 'item.Creado', nameCell: 'Creado', typeComponent: '' },
      { nameSlot: 'item.Creado', nameCell: 'Creado', typeComponent: '' },
      { nameSlot: 'item.Usuario', nameCell: 'Usuario', typeComponent: '' }
    ],
    ItemsCount: -1,
    ItemsOptions: {
      options: {
        page: 1,
        itemsPerPage: 20,
        sortBy: [''],
        sortDesc: ['']
      },
      filtro: ''
    }
  })
}
</script>
