<template>
  <v-checkbox
    :id="data.name"
    false-value="0"
    true-value="1"
    v-model="data.value"
    :disabled="data.disabled"
    :name="data.name"
    :label="data.etiqueta"
    :loading="data.loading"
    :dense="dense"
    @change="onChange"
  />
</template>

<script>
export default {
  name: 'Checkbox',
  props: {
    data: Object,
    dense: Boolean
  },
  data () {
    return {
      label: this.data.etiqueta,
      rules: [],
      value: this.data.value
    }
  },
  mounted () {
    this.required()
  },
  methods: {
    required () {
      if (this.data.requerido) {
        this.rules.push(v => !!v || 'Elemento requerido')
        if (this.label[this.label - 1] !== '*') { this.label += ' *' }
      }
    },
    onChange () {
      this.$root.$emit('onChanged' + this.data.name, this.data.value)
    }
  }
}
</script>

<style scoped>

</style>
