<template>
  <v-select
    :id="data.name"
    v-model="data.value"
    :items="data.items"
    :disabled="data.disabled"
    :name="data.name"
    :multiple="data.multi"
    :chips="data.multi"
    :label="data.etiqueta"
    :dense="dense"
    @input="onChange"
  />
</template>

<script>
export default {
  name: 'Combo',
  props: {
    data: Object,
    dense: Boolean
  },
  created () {
    if (this.data.value !== '') { this.onChange() }
  },
  methods: {
    onChange () {
      this.$root.$emit('onChanged' + this.data.name, this.data.value)
    }
  }
}
</script>

<style scoped>

</style>
