<template>
  <v-text-field
    :id="data.name"
    v-model="data.value"
    :disabled="data.disabled"
    :name="data.name"
    :label="data.etiqueta"
    :rules="rules"
    :dense="dense"
    @input="onChange"
  />
</template>

<script>
export default {
  name: 'Entero',
  props: {
    data: Object,
    dense: Boolean
  },
  data () {
    return {
      rules: [
        v => /^(\s*|\d+)$/.test(v) || 'Caracter no permitido'
      ]
    }
  },
  watch: {
    maximoNumero (nuevoNumero) {

    }
  },
  mounted () {
    this.required()
    this.maximo()
  },
  methods: {
    required () {
      if (this.data.requerido) {
        this.rules.push(v => !!v || 'Elemento requerido')
        if (this.data.etiqueta[this.data.etiqueta.length - 1] !== '*') { this.data.etiqueta += ' *' }
      }
    },
    maximo () {
      if (this.data.max && this.data.max > this.data.value) {
        this.rules.push(v => v <= this.data.max || 'No puede pasar de ' + this.data.max)
      }
    },
    onChange () {
      this.$root.$emit('onChanged' + this.data.name, this.data.value)
    }
  }
}
</script>

<style scoped>

</style>
