<template>
  <v-autocomplete
    :id="data.name"
    v-model="data.value"
    :disabled="data.disabled"
    :name="data.name"
    :multiple="data.multi"
    :items="data.items"
    :label="data.etiqueta"
    :loading="data.loading"
    :dense="dense"
    chips
    auto-select-first
    no-data-text="Comienza a teclear para seleccionar opciones"
    :search-input.sync="input"
    clearable
    @change="cleanInput"
    @keyup="onKeyUp"
  />
</template>

<script>
export default {
  name: 'MultipleSelect',
  props: {
    data: Object,
    dense: Boolean
  },
  data: () => ({
    input: ''
  }),
  created () {
    if (this.data.value !== '') { this.onChange() }
  },
  methods: {
    onChange () {
      this.$root.$emit('onChanged' + this.data.name, this.data.value)
    },
    onKeyUp () {
      if (this.input && this.input.length > 2) {
        this.data.loading = true
        this.$root.$emit('onKeyUp' + this.data.name, this.input)
      }
    },
    cleanInput () {
      this.input = ''
    }
  }
}
</script>

<style scoped>

</style>
