<template>
  <v-container class="mx-0">
    <v-text-field
      :id="data.name"
      v-model="data.value"
      :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
      :type="show ? 'text' : 'password'"
      :hint="data.hint"
      :disabled="data.disabled"
      :name="data.name"
      :label="data.etiqueta"
      :rules="rules"
      :counter="data.size"
      @input="onChange"
      @click:append="show = !show"
    />
    <v-text-field
      v-if="data.verify"
      id="verify"
      v-model="data.confirm"
      :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
      :type="show ? 'text' : 'password'"
      :disabled="data.disabled"
      label="Confirmar Contraseña"
      :rules="same"
      :counter="data.size"
      :dense="dense"
      @input="onChange"
      @click:append="show = !show"
    />
  </v-container>
</template>

<script>
export default {
  name: 'Password',
  props: {
    data: Object,
    dense: Boolean
  },
  data () {
    return {
      rules: [
        v => /([A-Za-z,. áéíóúü]*)/g.test(v) || 'Caracter no permitido'
      ],
      same: [
        v => v === this.data.value || 'No coincide'
      ],
      temp: '',
      show: false
    }
  },
  mounted () {
    this.required()
    this.size()
  },
  methods: {
    required () {
      if (Boolean.valueOf(this.data.requerido)) {
        this.rules.push(v => !!v || 'Elemento requerido')
        if (this.data.etiqueta[this.data.etiqueta.length - 1] !== '*') { this.data.etiqueta += ' *' }
      }
    },
    size () {
      if (this.data.size) {
        this.rules.push(v => v.length <= this.data.size || 'Solo ' + this.data.size + ' caracteres')
      }
      if (this.data.min) {
        this.rules.push(v => v.length >= this.data.min || 'Minimo ' + this.data.min + ' caracteres')
      }
    },
    onChange () {
      this.$root.$emit('onChanged' + this.data.name, this.data.value)
    }
  }
}
</script>

<style scoped>

</style>
