<template>
  <v-text-field
    :id="data.name"
    v-model="data.value"
    :disabled="data.disabled"
    :name="data.name"
    :label="label"
    :rules="rules"
    :counter="data.size"
    :readonly="data.readOnly"
    :dense="dense"
    @input="onChange"
  />
</template>

<script>
export default {
  name: 'TextAlfa',
  props: {
    data: Object,
    dense: Boolean
  },
  data () {
    return {
      label: this.data.etiqueta,
      rules: [
        v => /([A-Za-z,. áéíóúü]*)/g.test(v) || 'Caracter no permitido'
      ]
    }
  },
  mounted () {
    this.required()
    this.size()
  },
  methods: {
    required () {
      if (Boolean.valueOf(this.data.requerido)) {
        this.rules.push(v => (v !== undefined && !!v) || 'Elemento requerido')
        if (this.label[this.label.length - 1] !== '*') { this.label += ' *' }
      }
    },
    size () {
      if (this.data.size) {
        this.rules.push(v => v.length <= this.data.size || 'Solo ' + this.data.size + ' caracteres')
      }
    },
    onChange () {
      this.$root.$emit('onChanged' + this.data.name, this.data.value)
    }
  }
}
</script>

<style scoped>

</style>
