<template>
  <v-combobox
    :id="data.name"
    v-model="data.value"
    :disabled="data.disabled"
    :name="data.name"
    :multiple="data.multi"
    :items="data.items"
    :label="data.etiqueta"
    :loading="data.loading"
    chips
    :search-input.sync="input"
    clearable
    :dense="dense"
    @change="cleanInput"
  />
</template>

<script>
export default {
  name: 'BUserInput',
  props: {
    data: Object,
    dense: Boolean
  },
  data: () => ({
    input: ''
  }),
  created () {
    if (this.data.value !== '') { this.onChange() }
  },
  methods: {
    onChange () {
      this.$root.$emit('onChanged' + this.data.name, this.data.value)
    },
    cleanInput () {
      this.input = ''
    }
  }
}
</script>

<style scoped>

</style>
