<template>
  <div>
    <v-tooltip top>
      <template v-slot:activator="{ on }">
        <v-btn icon small color="gray" v-on="on" @click="modificar()">
          <v-icon>mdi-square-edit-outline</v-icon>
        </v-btn>
      </template>
      <span>Editar</span>
    </v-tooltip>
    <v-tooltip top>
      <template v-slot:activator="{ on }">
        <v-btn icon small color="gray" v-on="on" @click="borrar()">
          <v-icon>mdi-window-close</v-icon>
        </v-btn>
      </template>
      <span>Eliminar</span>
    </v-tooltip>
  </div>
</template>

<script>
export default {
  name: 'BotonesCrud',
  props: {
    domId: String,
    entity: Object
  },
  methods: {
    modificar () {
      if (this.entity !== null) { this.$root.$emit(this.domId + 'Modify', this.entity) }
    },
    borrar () {
      this.$swal({
        title: 'Eliminar Elemento',
        text: '¿Estás seguro? ¡No podrás revertir ésta acción!',
        icon: 'info',
        showCancelButton: true,
        confirmButtonColor: 'accent',
        cancelButtonColor: 'primary',
        confirmButtonText: 'Eliminar',
        cancelButtonText: 'Cancelar'
      })
        .then((result) => {
          if (result.value) {
            if (this.entity !== null) {
              this.$root.$emit(this.domId + 'Remove', this.entity.Uuid)
            }
          }
        })
    }
  }
}
</script>

<style scoped>

</style>
