<template>
  <div>
    <v-tooltip bottom>
      <template #activator="{ on }">
        <v-btn icon small color="gray" v-on="on" @click.stop="dialog = true">
          <v-icon>
            mdi-microsoft-excel
          </v-icon>
        </v-btn>
      </template>
      <span>Exportar a excel</span>
    </v-tooltip>
    <v-dialog
      v-if="elementos !== undefined"
      v-model="dialog"
      max-width="290"
    >
      <v-card>
        <v-card-title class="headline">
          Seleccionar
        </v-card-title>
        <v-card-text>
          <v-checkbox
            v-for="(llave,index) in llavesJSON"
            :key="index"
            v-model="selected"
            :label="llave.text"
            :value="llave"
            color="accent"
          />
        </v-card-text>

        <v-card-actions>
          <v-spacer />
          <v-btn
            color="primary"
            @click="cancelar"
          >
            Cancelar
          </v-btn>
          <v-btn
            color="accent"
            :disabled="selected.length === 0"
            @click="exportarExcel"
          >
            Descargar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import XLSX from 'xlsx'

export default {
  name: 'BotonXLS',
  props: {
    cabeceras: {
      type: Array,
      default () {
        return []
      }
    },
    elementos: {
      type: Array,
      default () {
        return []
      }
    },
    title: {
      type: String,
      default () {
        return ''
      }
    },
    filtro: {
      type: String,
      default () {
        return ''
      }
    },
    route: {
      type: String,
      default () {
        return ''
      }
    }
  },
  data () {
    return {
      dialog: false,
      selected: []
    }
  },
  computed: {
    llavesJSON () {
      const llaves = []
      this.cabeceras.forEach(function (cabecera) {
        // console.log(cabecera)
        if (cabecera.value !== 'actions' && cabecera.value !== 'workflow') {
          llaves.push({ value: cabecera.value, text: cabecera.text })
        }
      })
      // eslint-disable-next-line vue/no-side-effects-in-computed-properties
      this.selected = llaves
      return llaves
    }
  },
  methods: {
    exportarExcel () {
      const submit = {
        PryUuid: this.$route.params.PryUuid,
        PlcUuid: this.$route.params.PlcUuid,
        TrnUuid: this.$route.params.TrnUuid,
        page: -1,
        perPage: 1000000000,
        sort: [],
        desc: [],
        filtro: this.filtro
      }
      this.$axios.$post(this.route, submit)
        .then((response) => {
          if (response.success) {
            const date = new Date()
            const elementosExcel = JSON.parse(JSON.stringify(response.data))
            const filtro = this.selected.map(seleccionado => seleccionado.value)
            const cabeceras = this.selected
            elementosExcel.forEach(function (elemento) {
              Object.keys(elemento).forEach(function (key) {
                if (filtro.includes(key) === false) {
                  delete elemento[key]
                } else {
                  const nuevaClave = cabeceras.find(seleccionado => seleccionado.value === key).text
                  if (nuevaClave !== key) {
                    elemento[nuevaClave] = elemento[key]
                    delete elemento[key]
                  }
                }
              })
            })
            const data = XLSX.utils.json_to_sheet(elementosExcel)
            const workBook = XLSX.utils.book_new()
            XLSX.utils.book_append_sheet(workBook, data)
            const title = this.title + '_' + date.getFullYear() + '_' + date.getMonth() + '_' +
              date.getDate() + '_' + date.getHours() + '_' + date.getMinutes() + '_' + date.getSeconds() + '.xlsx'
            XLSX.writeFile(workBook, title)
          } else {
            this.alert('error', response.message)
          }
        })
      this.dialog = false
    },
    cancelar () {
      this.dialog = false
    }
  }
}
</script>

<style scoped>

</style>
