<template>
  <v-container fluid>
    <v-btn block>ver historial</v-btn>
    <v-card>
      <v-list
        v-for="(content, index) in historial"
        :key="index"
        dense
      >
        <v-list-item>
          <v-list-item-content>{{ parseDate(Object.keys(content)[0]) }}:</v-list-item-content>
          <v-list-item-content >{{ content }}</v-list-item-content>
        </v-list-item>
      </v-list>
    </v-card>

    <template v-for="(value, key, index) in elementos">
      <v-row :key="index">
        <v-col
          :key="key"
          cols="12"
        >
          <v-card>
            <v-card-title class="subheading font-weight-bold">{{ value.transicion }}</v-card-title>
            <v-divider />
            <v-list
              v-for="(content, field, index) in value.data"
              :key="index"
              dense
            >
              <v-list-item>
                <v-list-item-content>{{ field }}:</v-list-item-content>
                <v-list-item-content >{{ content }}</v-list-item-content>
              </v-list-item>
            </v-list>
          </v-card>
        </v-col>
      </v-row>
    </template>
  </v-container>
</template>

<script>
export default {
  name: 'ShowData',
  props: {
    elementos: Object,
    historial: Object
  },
  methods: {
    parseDate (date) {
      const parsedDate = new Date(date)
      return parsedDate.toLocaleDateString('es-Mx')
    }
  }
}
</script>

<style scoped>

</style>
