<template>
  <a
    v-show="value.value !== undefined"
    target="_blank"
    :href="'/storage/data/' + value.value"
  >
    <v-icon>mdi-file</v-icon>
  </a>
</template>

<script>
export default {
  name: 'Photo',
  props: {
    name: String,
    value: Object
  }
}
</script>

<style scoped>

</style>
