<template>
  <p class="text-center">
    {{ moneyString }}
  </p>
</template>

<script>
import { validateNumber } from '~/utils/validations'

export default {
  name: 'Money',
  props: {
    name: {
      type: String,
      required: true
    },
    value: {
      type: Object,
      required: true,
      validator: validateNumber
    }
  },
  computed: {
    moneyString () {
      const formatter = new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'USD'
      })
      return formatter.format(this.value.value)
    }
  }
}
</script>

<style scoped>

</style>
